@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">


        <div class="form-horizontal">
            <div class="row">

                <div class="form-group">


<form method="post" enctype="multipart/form-data" action="/finance/fileIn">

                    <label class="control-label">请选择要导入的Excel文件：</label>
                    <input id="excelFile" class="file" name="file" type="file" multiple accept=".xls,.xlsx"> <br>
</form>


        </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">

                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FinanceInfoDlg.close()"/>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    $(document).on('ready', function() {
        $("#excelFile").fileinput({
            showPreview: false,
            showUpload: false,
            elErrorContainer: '#kartik-file-errors',
            uploadUrl: '/finance/fileIn'
        });
    });
</script>
<script src="${ctxPath}/static/modular/finance/finance/finance_info.js"></script>
<script>
    initUpload("excelFile", Feng.ctxPath + "/finance/fileIn");
    function initUpload(ctrlName, uploadUrl) {
        var control = $('#' + ctrlName);
        control.fileinput({
            uploadUrl: uploadUrl, //上传的地址
            showCaption: true,//是否显示标题
            showUpload: true, //是否显示上传按钮
            browseClass: "btn btn-primary", //按钮样式
            allowedFileExtensions: ["xls", "xlsx"], //接收的文件后缀
            maxFileCount: 10,//最大上传文件数限制
            previewFileIcon: '<i class="glyphicon glyphicon-file"></i>',
            showPreview: true, //是否显示预览
            previewFileIconSettings: {
                'docx': '<i ass="fa fa-file-word-o text-primary"></i>',
                'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                'jpg': '<i class="fa fa-file-photo-o text-warning"></i>',
                'pdf': '<i class="fa fa-file-archive-o text-muted"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
            },
            uploadExtraData: function () {
                var extraValue = "test";
                return {"excelType": extraValue};
            }
        });
    }
    $("#excelFile").on("fileuploaded", function (event, data, previewId, index) {
        console.log(data);
        if(data.response.code == 200)
        {
            alert(data.files[index].name + "上传成功!");
            //关闭
            FinanceInfoDlg.close();
        }
        else{
            alert(data.files[index].name + "上传失败!" );
            //重置
            $("#excelFile").fileinput("clear");
            $("#excelFile").fileinput("reset");
            $('#excelFile').fileinput('refresh');
            $('#excelFile').fileinput('enable');
        }
    });

</script>
@}
