@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="fid" value="${fz.idFz}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="jkno" name="缴款单号" underline="true"/>
                    <#input id="fnameNo" name="缴款人员" underline="true"/>
                    <#input id="fmarketMoney" name="销售款" underline="true"/>
                    <#input id="fno" name="票据编号" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="fmoney" name="押金" underline="true"/>
                    <#input id="fphoneMoney" name="通讯费" underline="true"/>
                    <#TimeCon id="ftime" name="缴款日期" isTime="false" pattern="YYYY-MM-DD"/>
                    <select  class="btn btn-primary button-margin" id="ismake"><i class="fa fa-edit"></i>&nbsp;<option>是否缴款</option>  <option value="1">是</option> <option  value="0">否</option>  </select>
                    <!--<#input id="zcountFz" name="收款方式" underline="true"/>-->
                    <select  class="btn btn-primary button-margin" id="ftype"><i class="fa fa-edit"></i>&nbsp;<option>收款方式</option>  <option value="1">POS刷卡</option> <option value="2">支付宝</option> <option value="3">微信</option></select>

                    <select  class="btn btn-primary button-margin" id="isbill"><i class="fa fa-edit"></i>&nbsp;<option>是否开发票</option>  <option value="1">是</option> <option value="0">否</option>  </select>


                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FinanceInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FinanceInfoDlg.close()"/>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <table class="table table-hover" style="color: #1ab394">
                        <thead>
                        <tr><th>id</th><th>商户名称</th><th>租赁金额</th><th>通讯费</th><th>终端购买费</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>${fz.idFz}</td>
                            <td>${fz.pnameFz}</td>
                            <td>${fz.leasingFz}</td>
                            <td>${fz.phoneFz}</td>
                            <td>${fz.costFz}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/finance/finance/finance_info.js"></script>
@}
